<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.crud.mapper.EmployeeMapper">

	<resultMap type="Employee" id="BaseResultMap">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="password" property="password" />
		<result column="email" property="email" />
		<result column="age" property="age" />
		<association property="dept" column="dept_id" javaType="department"
			columnPrefix="d_">
			<id column="id" property="id" />
			<result column="name" property="name" />
			<result column="sn" property="sn" />
		</association>
	</resultMap>

	<select id="selectById" resultMap="BaseResultMap">
		select
		e.id,e.name,e.`password`,e.email,e.age
		, d.id d_id , d.name d_name
		,d.sn d_sn
		from employee e left join department d on e.dept_id = d.id
		where
		e.id = #{id}

	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		select
		e.id,e.name,e.`password`,e.email,e.age
		, d.id d_id , d.name d_name
		,d.sn d_sn
		from employee e left join department d on e.dept_id = d.id
	</select>


	<delete id="deleteById">
		delete from employee where id = #{id}
	</delete>
	<update id="updateById">
		update employee set
		name = #{name},
		email = #{email},
		age = #{age},
		dept_id = #{dept.id}
		where
		id = #{id}
	</update>
	<insert id="insert">
		insert into employee
		(name,password,email,age,dept_id)
		values(#{name},#{password},#{email},#{age},#{dept.id})
	</insert>

	<select id="selectRowsByCondition" resultType="int">
		select count(*) from employee e
		<include refid="employeeCondition" />
	</select>

	<select id="selectDataByCondition" resultMap="BaseResultMap">
		select
		e.id,e.name,e.`password`,e.email,e.age
		, d.id d_id , d.name
		d_name
		,d.sn d_sn
		from employee e left join department d on e.dept_id = d.id
		<include refid="employeeCondition" />
		limit #{startIndex},#{pageSize}
	</select>

	<sql id="employeeCondition">
		<where>
			<if test="keyword != null and keyword != ''">
				and (e.name like concat('%',#{keyword},'%')
				or e.email like concat('%',#{keyword},'%'))
			</if>
			<if test="deptId != null and deptId >-1">
				and e.dept_id = #{deptId}
			</if>
		</where>
	</sql>


</mapper>